<div class="row">
    <div class="col-md-8">
        <h1>Questions </h1>
    </div>
    <div class="col-md-4 text-right">
        <%= link_to "New", new_question_path, class: "btn btn-success" %>
    </div>
</div>
<% @questions.each do |question| %>
    <div class="media">
        <div class="media-content">
            <h5 class="media-title">
                <%= link_to question.title, question %>
            </h5>
        </div>
    </div>
<% end %>
