<h1><%= @advertisement.title %> </h1>
  <h1><%= @advertisement.price %></h1>
<p><%= @advertisement.copy %></p>

<!-- <h1>Advertisements#show</h1>
<p>Find me in app/views/advertisements/show.html.erb</p> -->
